body {
    background-color: rgb(241, 241, 216);
    color: rgb(35, 35, 77);
}    
.flex-container {
    display: flex;
}

.card {
    background:rgb(241, 241, 216);
    border: 3px solid black;
    height: 100px;
    flex: 1;
    margin: 30px;
    display: inline;
}


.menu {
    flex: 2;
}

